body {
    background-color: rgb(144, 208, 255);
    text-align: center;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas {
    background-color: rgb(144, 208, 255);
}

footer {
    font-size: larger;
    margin: 30px;
}